AIDEV_PROXY_NETWORK=npm_bridge
AIDEV_SECRET_DIR=/home/turtlelab/aidev/secrets
CLAUDE_CODE_VERSION=2.1.276
SDB_TARBALL_URL=https://download.tizen.org/sdk/tizenstudio/official/binary/sdb_4.2.36_ubuntu-64.zip
SDB_SHA256=addf825e1a886a9f220cb3d287e74438cae0ffafe5821b9baca9d4f6c7de5124
